@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(anchor) {
  position: relative;
  padding: 8px 0;

  @include e(marker) {
    position: absolute;
    background-color: getCssVar('color-primary');
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1;
  }

  @include e(line) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: getCssVar('border-color-light');
  }

  @include e(list) {
    position: relative;
    padding-left: 12px;
  }
}
