@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(anchor-link) {
  position: relative;
  padding: 8px 0 8px 16px;
  line-height: 1.5;
  cursor: pointer;

  @include e(title) {
    display: block;
    font-size: 14px;
    color: getCssVar('text-color', 'regular');
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;

    &:hover {
      color: getCssVar('color-primary');
    }
  }

  @include when(active) {
    @include e(title) {
      color: getCssVar('color-primary');
      font-weight: 600;
    }
  }

  @include e(list) {
    padding-left: 16px;
  }
}
