@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(calendar) {
  @include set-component-css-var('calendar', $calendar);

  background-color: getCssVar('bg-color', 'blank');

  @include e(header) {
    display: flex;
    justify-content: space-between;
    align-items: center; // 确保 Header 纵向居中对齐
    padding: 12px 20px;
    border-bottom: getCssVar('calendar', 'header-border-bottom');
  }

  @include e(title) {
    color: getCssVar('text-color', 'primary');
    font-weight: 500;
  }

  @include e(button-group) {
    display: flex;

    button {
      background: getCssVar('fill-color', 'blank');
      border: 1px solid getCssVar('border-color', 'light');
      padding: 8px 15px;
      font-size: 12px;
      color: getCssVar('text-color', 'regular');
      cursor: pointer;
      line-height: 1; // 修正按钮文字垂直居中
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: all getCssVar('transition-duration', 'fast');

      &:hover {
        color: getCssVar('color-primary');
        border-color: getCssVar('color-primary-light-7');
        background-color: getCssVar('color-primary-light-9');
      }

      &:active {
        background-color: getCssVar('fill-color', 'dark');
      }

      &:not(:last-child) {
        border-right: none;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  @include e(body) {
    padding: 12px 20px 35px;
  }
}

@include b(calendar-table) {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  thead th {
    padding: 12px 0;
    color: getCssVar('text-color', 'regular');
    font-weight: normal;
    text-align: center; // 星期水平居中
    vertical-align: middle; // 星期垂直居中
    border-bottom: getCssVar('calendar', 'border');
  }

  td {
    border: getCssVar('calendar', 'border');
    vertical-align: middle; // 单元格垂直对齐基准
    transition: background-color getCssVar('transition-duration', 'fast') ease;

    &:hover {
      background-color: getCssVar('calendar', 'selected-bg-color');
      cursor: pointer;
    }

    &.prev,
    &.next {
      color: getCssVar('text-color', 'placeholder');
    }

    &.is-today {
      color: getCssVar('color-primary');
      font-weight: bold;
    }

    &.is-selected {
      background-color: getCssVar('calendar', 'selected-bg-color');
      color: getCssVar('color-primary');
    }
  }

  @include b(calendar-day) {
    box-sizing: border-box;
    height: 85px;
    display: flex;
    justify-content: center; // 单元格日期水平居中
    align-items: center; // 单元格日期垂直居中

    @include e(content) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}
