@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(collapse) {
  @include set-component-css-var('collapse', $collapse);

  border-top: 1px solid getCssVar('collapse-border-color');
  border-bottom: 1px solid getCssVar('collapse-border-color');

  @include when(ghost) {
    border-top: none;
    border-bottom: none;
  }
}

@include b(collapse) {
  @include when(arrow-placement-left) {
    .#{$namespace}-collapse-item__header {
      .swy-collapse-item__arrow {
        margin-left: 0;
        margin-right: 8px;
        order: -1;
      }

      .swy-collapse-item__title {
        text-align: right;
      }
    }
  }
}

.#{$namespace}-collapse-icon-position {
  &-left {
    .#{$namespace}-collapse-item__ {
      &header {
        gap: 8px;
      }

      &title {
        order: 1;
      }
    }
  }

  &-right {
    .#{$namespace}-collapse-item__header {
      padding-right: 8px;
    }
  }
}
