@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

$descriptions-item-label-margin-right: () !default;
$descriptions-item-label-margin-right: map.merge(
  (
    'large': 16px,
    'default': 16px,
    'small': 12px,
  ),
  $descriptions-item-label-margin-right
);

$descriptions-item-vertical-label-padding-bottom: () !default;
$descriptions-item-vertical-label-padding-bottom: map.merge(
  (
    'large': 8px,
    'default': 6px,
    'small': 4px,
  ),
  $descriptions-item-vertical-label-padding-bottom
);

@include b(descriptions) {
  @include e(label) {
    font-weight: bold;
    color: getCssVar('text-color', 'primary');
    white-space: nowrap;

    &.is-bordered-label {
      background: #f5f7fa;
    }

    &:not(.is-bordered-label) {
      margin-right: map.get($descriptions-item-label-margin-right, 'default');
      &::after {
        content: ':';
        margin-left: 2px;
      }
    }

    &.is-vertical-label {
      padding-bottom: map.get($descriptions-item-vertical-label-padding-bottom, 'default');
      &::after {
        content: none;
      }
    }
  }

  @include e(content) {
    color: getCssVar('text-color', 'regular');
    word-break: break-all;

    &.is-bordered-content {
      color: getCssVar('text-color', 'primary');
    }
  }

  @each $size in (large, small) {
    @include m($size) {
      @include e(label) {
        &:not(.is-bordered-label) {
          margin-right: map.get($descriptions-item-label-margin-right, $size);
        }

        &.is-vertical-label {
          padding-bottom: map.get($descriptions-item-vertical-label-padding-bottom, $size);
        }
      }
    }
  }
}
