@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(icon) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;

  svg {
    width: 100%;
    height: 100%;
  }

  @include m(small) {
    font-size: 14px;
  }

  @include m(default) {
    font-size: 16px;
  }

  @include m(large) {
    font-size: 20px;
  }
}
