@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

:root {
  @include set-component-css-var('loading', $loading);
}

@include b(loading-parent) {
  @include m(relative) {
    position: relative !important;
  }

  @include m(hidden) {
    overflow: hidden !important;
  }
}

@include b(loading-mask) {
  position: absolute;
  z-index: 2000;
  background-color: rgba(getCssVar('bg-color-page'), 0.7);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(5px);

  @include when(fullscreen) {
    position: fixed;

    .#{$namespace}-loading-spinner {
      margin-top: -21px;

      .circular {
        height: 42px;
        width: 42px;
      }
    }
  }
}

@include b(loading-spinner) {
  top: 50%;
  margin-top: -21px;
  width: 100%;
  text-align: center;
  position: absolute;

  .#{$namespace}-loading-text {
    color: getCssVar('color-primary');
    margin: 12px 0 0;
    font-size: 14px;
    font-weight: 500;
  }

  .circular {
    display: inline-block;
    height: 42px;
    width: 42px;
    animation: loading-rotate 2s linear infinite;
  }

  .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 3;
    stroke: getCssVar('color-primary');
    stroke-linecap: round;
  }

  i {
    color: getCssVar('color-primary');
  }
}

.#{$namespace}-loading-fade-enter-from,
.#{$namespace}-loading-fade-leave-to {
  opacity: 0;
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
