@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(notification) {
  @include set-component-css-var('notification', $notification);
}

@include b(notification) {
  display: flex;
  width: 330px;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid getCssVar('border-color-lighter');
  position: fixed;
  background-color: getCssVar('bg-color', 'page');
  box-shadow:
    getCssVar('box-shadow-light'),
    0 0 30px rgba(0, 0, 0, 0.12);
  transition:
    opacity 0.3s,
    transform 0.3s,
    left 0.3s,
    right 0.3s,
    top 0.4s,
    bottom 0.3s;
  overflow-wrap: break-word;
  overflow: hidden;
  z-index: 9999;
  backdrop-filter: blur(10px);

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    flex: 1;
    min-width: 0;
    margin-left: 12px;
    margin-right: 30px;
  }

  @include e(title) {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: getCssVar('text-color-primary');
    margin: 0;
  }

  @include e(content) {
    font-size: 14px;
    line-height: 22px;
    margin: 6px 0 0;
    color: getCssVar('text-color-regular');

    p {
      margin: 0;
    }
  }

  & .#{$namespace}-notification__icon {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;

    @include when(success) {
      background: getCssVar('color-success-light-9');
      color: getCssVar('color-success');
    }

    @include when(warning) {
      background: getCssVar('color-warning-light-9');
      color: getCssVar('color-warning');
    }

    @include when(info) {
      background: getCssVar('color-info-light-9');
      color: getCssVar('color-info');
    }

    @include when(error) {
      background: getCssVar('color-danger-light-9');
      color: getCssVar('color-danger');
    }
  }

  & .#{$namespace}-notification__closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: getCssVar('text-color-placeholder');
    font-size: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: getCssVar('text-color-secondary');
    }
  }

  @each $type in (primary, success, info, warning, error) {
    & .#{$namespace}-notification--#{$type} {
      border-left: 4px solid getCssVar('color', $type);
    }
  }
}

.#{$namespace}-notification-fade-enter-from {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.#{$namespace}-notification-fade-leave-to {
  opacity: 0;
}
