@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(notification) {
  @include set-component-css-var('notification', $notification);
}

@include b(notification) {
  display: flex;
  max-width: calc(100vw - 32px);
  width: 330px;
  padding: 14px 24px;
  border-radius: var(--swy-border-radius-base);
  box-sizing: border-box;
  border: 1px solid getCssVar('border-color-lighter');
  position: fixed;
  background-color: getCssVar('bg-color-overlay');
  box-shadow: getCssVar('box-shadow-light');
  transition:
    opacity 0.3s,
    transform 0.3s,
    left 0.3s,
    right 0.3s,
    top 0.4s,
    bottom 0.3s;
  overflow-wrap: break-word;
  overflow: hidden;
  z-index: 9999;

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    flex: 1;
    min-width: 0;
    margin-left: 13px;
    margin-right: 8px;
  }

  @include e(title) {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: getCssVar('text-color-primary');
    margin: 0;
  }

  @include e(content) {
    font-size: 14px;
    line-height: 22px;
    margin: 6px 0 0;
    color: getCssVar('text-color-regular');

    p {
      margin: 0;
    }
  }

  @include e(icon) {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 8px;

    @include when(success) {
      color: getCssVar('color-success');
    }

    @include when(warning) {
      color: getCssVar('color-warning');
    }

    @include when(info) {
      color: getCssVar('color-info');
    }

    @include when(error) {
      color: getCssVar('color-danger');
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: getCssVar('text-color-placeholder');
    font-size: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: getCssVar('text-color-primary');
    }
  }

  @include m(success) {
    border-color: getCssVar('color-success');
    background-color: getCssVar('color-success-light-9');

    .#{$namespace}-notification__title {
      color: getCssVar('color-success');
    }

    .#{$namespace}-notification__content {
      color: getCssVar('color-success');
    }
  }

  @include m(warning) {
    border-color: getCssVar('color-warning');
    background-color: getCssVar('color-warning-light-9');

    .#{$namespace}-notification__title {
      color: getCssVar('color-warning');
    }

    .#{$namespace}-notification__content {
      color: getCssVar('color-warning');
    }
  }

  @include m(error) {
    border-color: getCssVar('color-danger');
    background-color: getCssVar('color-danger-light-9');

    .#{$namespace}-notification__title {
      color: getCssVar('color-danger');
    }

    .#{$namespace}-notification__content {
      color: getCssVar('color-danger');
    }
  }

  @include m(info) {
    border-color: getCssVar('color-info');
    background-color: getCssVar('color-info-light-9');

    .#{$namespace}-notification__title {
      color: getCssVar('color-info');
    }

    .#{$namespace}-notification__content {
      color: getCssVar('color-info');
    }
  }
}

.#{$namespace}-notification-fade-enter-from {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.#{$namespace}-notification-fade-leave-to {
  opacity: 0;
}
