@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@mixin pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: getCssVar('pagination-font-size');
  min-width: getCssVar('pagination-button-width');
  height: getCssVar('pagination-button-height');
  line-height: getCssVar('pagination-button-height');
  color: getCssVar('pagination-button-color');
  background: getCssVar('pagination-bg-color');
  padding: 0 4px;
  border: 1px solid getCssVar('border-color-base');
  border-radius: getCssVar('pagination-border-radius');
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;

  * {
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: getCssVar('pagination-hover-color');
    border-color: getCssVar('pagination-hover-color');
  }

  &.is-active {
    color: getCssVar('color-white');
    background-color: getCssVar('color-primary');
    border-color: getCssVar('color-primary');
    cursor: default;
    font-weight: 600;

    &.is-disabled {
      font-weight: 600;
      color: getCssVar('text-color', 'secondary');
    }
  }

  &:disabled,
  &.is-disabled {
    color: getCssVar('pagination-button-disabled-color');
    background-color: getCssVar('pagination-button-disabled-bg-color');
    border-color: getCssVar('border-color-lighter');
    cursor: not-allowed;

    &:hover {
      color: getCssVar('pagination-button-disabled-color');
      border-color: getCssVar('border-color-lighter');
    }
  }

  &:focus-visible {
    outline: 1px solid getCssVar('pagination-hover-color');
    outline-offset: -1px;
  }
}

@include b(pagination) {
  @include set-component-css-var('pagination', $pagination);

  white-space: nowrap;
  color: getCssVar('pagination-text-color');
  font-size: getCssVar('pagination-font-size');
  font-weight: normal;
  display: flex;
  align-items: center;

  .#{$namespace}-input__inner {
    text-align: center;
    -moz-appearance: textfield;
  }

  .#{$namespace}-select {
    width: 128px;
  }

  .btn-prev,
  .btn-next,
  .#{$namespace}-pager {
    @include pagination-button;
    margin-right: 8px;

    .#{$namespace}-icon {
      display: block;
      font-size: 12px;
      font-weight: bold;
      width: inherit;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // 省略号按钮：显示 ••• 并在 hover 时切换为快进/快退箭头样式
  .btn-quickprev,
  .btn-quicknext {
    border-color: transparent;
    background: transparent;
    color: getCssVar('text-color', 'secondary');
    letter-spacing: 2px;

    &:hover {
      color: getCssVar('color-primary');
      border-color: transparent;
      background: transparent;
    }

    &:disabled,
    &.is-disabled {
      cursor: not-allowed;
      color: getCssVar('pagination-button-disabled-color');
      background: transparent;
      border-color: transparent;
    }
  }

  & > * {
    @include when(first) {
      margin-left: 0 !important;
    }
    @include when(last) {
      margin-right: 0 !important;
    }
  }

  .btn-prev {
    margin-left: 0;
  }

  @include e(sizes) {
    margin-left: getCssVar('pagination-item-gap');
    font-weight: normal;
    color: getCssVar('text-color', 'regular');
  }

  @include e(total) {
    margin-left: getCssVar('pagination-item-gap');
    font-weight: normal;
    color: getCssVar('text-color', 'regular');

    &[disabled='true'] {
      color: getCssVar('text-color', 'placeholder');
    }
  }

  @include e(jump) {
    display: flex;
    align-items: center;
    margin-left: getCssVar('pagination-item-gap');
    font-weight: normal;
    color: getCssVar('text-color', 'regular');

    &[disabled='true'] {
      color: getCssVar('text-color', 'placeholder');
    }

    @include e(goto) {
      margin-right: 8px;
    }

    @include e(editor) {
      text-align: center;
      box-sizing: border-box;

      &.#{$namespace}-input {
        width: 56px;
      }

      .#{$namespace}-input__inner::-webkit-inner-spin-button,
      .#{$namespace}-input__inner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    // 跳转器原生 input 的样式（非 swy-input 时的兜底方案）
    @include e(editor) {
      width: 56px;
      height: getCssVar('pagination-button-height');
      line-height: getCssVar('pagination-button-height');
      border: 1px solid getCssVar('border-color-base');
      border-radius: getCssVar('pagination-border-radius');
      padding: 0 8px;
      font-size: getCssVar('pagination-font-size');
      color: getCssVar('text-color', 'regular');
      outline: none;
      transition: border-color 0.2s;
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border-color: getCssVar('color-primary');
      }

      &:disabled {
        background-color: getCssVar('disabled-bg-color');
        color: getCssVar('text-color', 'placeholder');
        cursor: not-allowed;
      }
    }

    @include e(classifier) {
      margin-left: 8px;
    }
  }

  @include e(rightwrapper) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @include when(background) {
    .btn-prev,
    .btn-next,
    .#{$namespace}-pager {
      margin-right: 8px;
      background-color: getCssVar('pagination-button-bg-color');
      border: none;

      &.is-active {
        background-color: getCssVar('color-primary');
        color: getCssVar('color-white');
        border-color: getCssVar('color-primary');
      }

      &:disabled,
      &.is-disabled {
        color: getCssVar('text-color', 'placeholder');
        background-color: getCssVar('disabled-bg-color');
        border-color: getCssVar('border-color-lighter');

        &.is-active {
          color: getCssVar('text-color', 'secondary');
          background-color: getCssVar('fill-color', 'dark');
        }
      }

      &:hover:not(:disabled):not(.is-disabled):not(.is-active) {
        color: getCssVar('pagination-hover-color');
        border-color: transparent;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .btn-prev:first-child {
      margin-left: 0;
    }

    // 背景色模式下省略号按钮保持透明背景
    .btn-quickprev,
    .btn-quicknext {
      background: transparent;
      border-color: transparent;
    }
  }

  @include m(small) {
    .btn-prev,
    .btn-next,
    .#{$namespace}-pager {
      height: getCssVar('pagination-button-height-small');
      line-height: getCssVar('pagination-button-height-small');
      font-size: getCssVar('pagination-font-size-small');
      min-width: getCssVar('pagination-button-width-small');
    }

    span:not([class*='suffix']),
    button {
      font-size: getCssVar('pagination-font-size-small');
    }

    .#{$namespace}-select {
      width: 100px;
    }
  }
  @include m(large) {
    .btn-prev,
    .btn-next,
    .#{$namespace}-pager {
      height: getCssVar('pagination-button-height-large');
      line-height: getCssVar('pagination-button-height-large');
      min-width: getCssVar('pagination-button-width-large');
    }

    .#{$namespace}-select .#{$namespace}-input {
      width: 160px;
    }
  }

  // pager 容器（ul > li 结构的兼容写法）
  @include b(pager) {
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      @include pagination-button;
      margin: 0 5px;
      font-size: getCssVar('pagination-font-size');

      // 移除 li 默认样式
      list-style-type: none;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
