@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(popover) {
  @include set-component-css-var('popover', $popover);

  &.#{$namespace}-popper {
    background: getCssVar('bg-color-overlay');
    min-width: 150px;
    border-radius: 8px;
    border: 1px solid getCssVar('border-color-lighter');
    padding: 12px;
    z-index: getCssVar('index-popper');
    color: getCssVar('text-color-regular');
    line-height: 1.5;
    font-size: 14px;
    box-shadow: getCssVar('box-shadow-light');
    overflow-wrap: break-word;
    box-sizing: border-box;
    backdrop-filter: blur(10px);

    @include m(plain) {
      padding: 16px;
    }

    @include e(title) {
      color: getCssVar('text-color-primary');
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 8px;
    }

    @include e(reference) {
      &:focus:not(.focusing),
      &:focus:hover {
        outline-width: 0;
      }
    }

    @include when(dark) {
      background: getCssVar('bg-color', 'overlay');
      border-color: getCssVar('border-color-darker');
      color: getCssVar('text-color-primary');
    }

    @include when(light) {
      background: getCssVar('bg-color', 'page');
      border-color: getCssVar('border-color-lighter');
      color: getCssVar('text-color-regular');
    }

    &:focus:active,
    &:focus {
      outline-width: 0;
    }
  }
}
