@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

$rate-height: () !default;
$rate-height: map.merge(
  (
    'large': 40px,
    'default': 32px,
    'small': 24px,
  ),
  $rate-height
);

$rate-icon-size: () !default;
$rate-icon-size: map.merge(
  (
    'large': 24px,
    'default': 20px,
    'small': 16px,
  ),
  $rate-icon-size
);

@include b(rate) {
  @include set-component-css-var('rate', $rate);
}

@include b(rate) {
  display: inline-flex;
  align-items: center;
  height: map.get($rate-height, 'default');
  user-select: none;

  &:focus,
  &:active {
    outline: none;
  }

  &:focus-visible {
    @include e(item) {
      .swy-rate-icon {
        @include when(focus-visible) {
          outline: 2px solid getCssVar('rate', 'outline-color');
          outline-offset: 1px;
          border-radius: 2px;
        }
      }
    }
  }

  @include e(item) {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    transition: all getCssVar('transition-duration');

    &:not(:last-child) {
      margin-right: 2px;
    }

    &:hover {
      .swy-rate-icon {
        transform: scale(1.05);
      }
    }
  }

  .swy-rate-icon {
    position: relative;
    display: inline-block;
    font-size: map.get($rate-icon-size, 'default');
    line-height: 1;
    transition: all getCssVar('transition-duration');
    color: getCssVar('rate-void-color');

    @include when(hover) {
      transform: scale(1.1);
    }

    @include when(active) {
      color: getCssVar('rate', 'fill-color');
    }
  }

  @include e(decimal) {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    color: inherit;

    @include m('box') {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @include e(text) {
    font-size: getCssVar('font-size-base');
    vertical-align: middle;
    margin-left: 10px;
    color: getCssVar('text-color-primary');
    line-height: 1;
    font-weight: 500;
  }

  @include m(large) {
    height: map.get($rate-height, 'large');

    .swy-rate-icon {
      font-size: map.get($rate-icon-size, 'large');
    }

    @include e(text) {
      font-size: 16px;
    }
  }

  @include m(small) {
    height: map.get($rate-height, 'small');

    .swy-rate-icon {
      font-size: map.get($rate-icon-size, 'small');
    }

    @include e(text) {
      font-size: 12px;
      margin-left: 6px;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;

    @include e(item) {
      cursor: not-allowed;
      opacity: 0.6;

      &:hover {
        .swy-rate-icon {
          transform: none;
        }
      }
    }
  }
}
