@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

$slider-height: () !default;
$slider-height: map.merge(
  (
    'large': 40px,
    'default': 32px,
    'small': 24px,
  ),
  $slider-height
);

$slider-runway-height: () !default;
$slider-runway-height: map.merge(
  (
    'large': 6px,
    'default': 6px,
    'small': 4px,
  ),
  $slider-runway-height
);

$slider-button-size: () !default;
$slider-button-size: map.merge(
  (
    'large': 20px,
    'default': 16px,
    'small': 12px,
  ),
  $slider-button-size
);

@include b(slider) {
  @include set-component-css-var('slider', $slider);
}

@include b(slider) {
  width: 100%;
  height: map.get($slider-height, 'default');
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;

  @include e(runway) {
    flex: 1;
    height: map.get($slider-runway-height, 'default');
    background-color: #e4e7ed;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;

    &.show-input {
      margin-right: 30px;
      width: auto;
    }
  }

  @include e(input) {
    flex-shrink: 0;
    width: 130px;
  }

  @include e(bar) {
    height: map.get($slider-runway-height, 'default');
    background-color: getCssVar('color-primary');
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
  }

  @include e(button-wrapper) {
    position: absolute;
    z-index: 1001;
    width: 36px;
    height: 36px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -18px;
    background-color: transparent;
    cursor: grab;

    .#{$namespace}-tooltip {
      display: block;
      width: 100%;
      height: 100%;

      @include e(trigger) {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &.dragging {
      cursor: grabbing;
    }

    &:hover,
    &.dragging {
      .#{$namespace}-slider__button {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  @include e(button) {
    width: map.get($slider-button-size, 'default');
    height: map.get($slider-button-size, 'default');
    border: solid 2px getCssVar('color-primary');
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include e(stop) {
    position: absolute;
    height: map.get($slider-runway-height, 'default');
    width: map.get($slider-runway-height, 'default');
    border-radius: 100%;
    background-color: #fff;
    transform: translateX(-50%);
  }

  @include e(marks) {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 100%;
  }

  @include e(marks-text) {
    position: absolute;
    transform: translateX(-50%);
    font-size: 14px;
    color: #909399;
    margin-top: 15px;
    white-space: pre;
  }

  @include m(large) {
    height: map.get($slider-height, 'large');

    @include e(runway) {
      height: map.get($slider-runway-height, 'large');
    }

    @include e(bar) {
      height: map.get($slider-runway-height, 'large');
    }

    @include e(button) {
      width: map.get($slider-button-size, 'large');
      height: map.get($slider-button-size, 'large');
    }
  }

  @include m(small) {
    height: map.get($slider-height, 'small');

    @include e(runway) {
      height: map.get($slider-runway-height, 'small');
    }

    @include e(bar) {
      height: map.get($slider-runway-height, 'small');
    }

    @include e(button) {
      width: map.get($slider-button-size, 'small');
      height: map.get($slider-button-size, 'small');
    }
  }

  @include when(vertical) {
    position: relative;
    display: inline-block;

    @include e(runway) {
      width: map.get($slider-runway-height, 'default');
      height: 100%;
      margin: 0 16px;
    }

    @include e(bar) {
      width: map.get($slider-runway-height, 'default');
      height: auto;
      top: auto;
      border-radius: 0 0 3px 3px;
    }

    @include e(button-wrapper) {
      left: 50%;
      top: auto;
      margin-left: 0;
      transform: translateX(-50%) translateY(50%);
    }

    @include e(stop) {
      transform: translateY(50%);
    }

    @include e(marks-text) {
      margin-top: 0;
      left: 15px;
      transform: translateY(50%);
    }

    @include m(large) {
      @include e(runway) {
        width: map.get($slider-runway-height, 'large');
      }

      @include e(bar) {
        width: map.get($slider-runway-height, 'large');
      }
    }

    @include m(small) {
      @include e(runway) {
        width: map.get($slider-runway-height, 'small');
      }

      @include e(bar) {
        width: map.get($slider-runway-height, 'small');
      }
    }
  }

  @include when(disabled) {
    @include e(runway) {
      background-color: #e4e7ed;
    }

    @include e(bar) {
      background-color: #c0c4cc;
    }

    @include e(button) {
      border-color: #c0c4cc;
    }

    @include e(button-wrapper) {
      cursor: not-allowed;

      &:hover,
      &.dragging {
        cursor: not-allowed;

        .#{$namespace}-slider__button {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}

// Slider Tooltip 样式
.#{$namespace}-slider {
  .#{$namespace}-tooltip__popper {
    &.is-dark {
      background: #303133;
      color: #fff;
    }
  }
}
