@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(splitter) {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @include m(horizontal) {
    flex-direction: row;
  }

  @include m(vertical) {
    flex-direction: column;
  }

  @include e(pane) {
    overflow: auto;
    position: relative;
  }

  @include e(bar) {
    flex: none;
    position: relative;
    background: getCssVar('border-color-lighter');
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 1;

    &:hover {
      background: getCssVar('color-primary-light-7');

      @include e(bar-handle) {
        opacity: 1;
      }
    }

    &:active {
      background: getCssVar('color-primary-light-5');
    }
  }

  @include m(horizontal) {
    @include e(bar) {
      width: 6px;
      cursor: ew-resize;

      &:hover {
        width: 8px;
      }
    }
  }

  @include m(vertical) {
    @include e(bar) {
      height: 6px;
      cursor: ns-resize;

      &:hover {
        height: 8px;
      }
    }
  }

  @include e(bar-handle) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: getCssVar('text-color-secondary');
    font-size: 16px;
    opacity: 0.6;
    transition: opacity getCssVar('transition-duration');

    span {
      line-height: 1;
    }
  }
}
