@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(timeline-item) {
  position: relative;
  padding-bottom: 20px;
  list-style: none;

  @include e(wrapper) {
    position: relative;
    padding-left: 28px;
    top: -3px;
  }

  @include e(tail) {
    position: absolute;
    left: 6px; // 默认居中于 12px 的 node
    height: 100%;
    border-left: 2px solid getCssVar('timeline-node-color');
    transform: translateX(-50%);
  }

  & .#{$namespace}-timeline-item__icon {
    color: getCssVar('color-white');
    font-size: getCssVar('font-size-small');
  }

  @include e(node) {
    position: absolute;
    background-color: getCssVar('timeline-node-color');
    border-color: getCssVar('timeline-node-color');
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; // 确保在 tail 之上
    left: 0; // 改为 0，靠 margin 调整
    transform: translateX(-50%); // 绝对水平居中于轴线

    @include m(normal) {
      width: getCssVar('timeline-node-size-normal');
      height: getCssVar('timeline-node-size-normal');
      left: 6px;
    }

    @include m(large) {
      width: getCssVar('timeline-node-size-large');
      height: getCssVar('timeline-node-size-large');
      left: 6px;
    }

    @include when(hollow) {
      background: getCssVar('bg-color', 'overlay') !important;
      border-style: solid;
      border-width: 2px;
    }

    @each $type in (primary, success, warning, danger, info) {
      @include m($type) {
        background-color: getCssVar('color', $type);
        border-color: getCssVar('color', $type);

        @include when(hollow) {
          border-color: getCssVar('color', $type);
          color: getCssVar('color', $type);
        }
      }
    }
  }

  @include e(dot) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6px;
    transform: translateX(-50%);
  }

  @include e(content) {
    color: getCssVar('text-color', 'primary');
  }

  @include e(timestamp) {
    color: getCssVar('text-color', 'secondary');
    line-height: 1;
    font-size: getCssVar('font-size-small');

    @include when(top) {
      margin-bottom: 8px;
      padding-top: 4px;
    }

    @include when(bottom) {
      margin-top: 8px;
    }
  }
}
