@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(time-picker) {
  display: inline-block;
  width: 100%;
  position: relative;

  @include e(icon) {
    display: inline-flex;
    align-items: center;
    color: #c0c4cc;
  }
}
