@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(timeline) {
  @include set-component-css-var('timeline', $timeline);
  margin: 0;
  font-size: getCssVar('font-size', 'base');
  list-style: none;

  @include when(center) {
    .#{$namespace}-timeline-item {
      // 保证整行占据 100% 宽度
      width: 100%;

      // 整体轴向居中
      .#{$namespace}-timeline-item__node,
      .#{$namespace}-timeline-item__dot,
      .#{$namespace}-timeline-item__tail {
        left: 50%;
        transform: translateX(-50%); // 使用百分比位移实现绝对居中
        margin-left: 0; // 移除之前的 margin 补偿
      }

      .#{$namespace}-timeline-item__wrapper {
        width: 50%;
        text-align: left;
        padding-left: 20px;
        box-sizing: border-box;
      }

      // 偶数项翻转到左侧
      &:nth-child(even) {
        .#{$namespace}-timeline-item__wrapper {
          transform: translateX(-100%);
          margin-left: 50%;
          text-align: right;
          padding-left: 0;
          padding-right: 20px;
        }
      }
    }
  }

  .#{$namespace}-timeline-item:last-child {
    .#{$namespace}-timeline-item__tail {
      display: none;
    }
  }
}
