@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(transfer) {
  @include set-component-css-var('transfer', $transfer);
  font-size: getCssVar('font-size', 'base');
  display: flex;
  align-items: center;

  @include e(buttons) {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    display: flex;
    flex-direction: row; // 改为横向
    gap: 12px;
  }

  @include e(button) {
    // 回归矩形按钮
    display: flex;
    align-items: center;
    justify-content: center;

    i,
    span {
      font-size: 14px;
    }

    & [class*='#{$namespace}-icon'] + span {
      margin-left: 0;
    }

    // 处理内部文字和箭头的排版
    .is-left {
      margin-right: 5px;
    }

    .is-right {
      margin-left: 5px;
    }
  }
}

@include b(transfer-panel) {
  border: 1px solid getCssVar('transfer-border-color');
  border-radius: getCssVar('transfer-border-radius');
  box-sizing: border-box;
  width: getCssVar('transfer-panel-width');
  background: getCssVar('bg-color', 'overlay');
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  @include e(header) {
    height: getCssVar('transfer-panel-header-height');
    line-height: getCssVar('transfer-panel-header-height');
    background: getCssVar('transfer-panel-header-bg-color');
    margin: 0;
    padding-left: 15px;
    border-bottom: 1px solid getCssVar('transfer-border-color');
    box-sizing: border-box;
    color: getCssVar('color-black');
    display: flex;
    align-items: center;

    .#{$namespace}-checkbox {
      display: flex;
      align-items: center;
      width: 100%; // 撑满头部

      .#{$namespace}-checkbox__label {
        display: flex; // 变成 flex
        align-items: center;
        justify-content: space-between; // 两端对齐
        flex: 1; // 填满剩余空间
        font-size: 16px;
        color: getCssVar('text-color', 'primary');
        font-weight: normal;

        span {
          color: getCssVar('text-color', 'secondary');
          font-size: 12px;
          font-weight: normal;
          margin-left: auto; // 强制靠右
          padding-right: 15px;
        }
      }
    }
  }

  @include e(body) {
    height: getCssVar('transfer-panel-body-height');
    overflow: hidden;
    position: relative;

    @include when(with-footer) {
      padding-bottom: getCssVar('transfer-panel-footer-height');
    }
  }

  @include e(list) {
    margin: 0;
    padding: 6px 0;
    list-style: none;
    height: getCssVar('transfer-panel-body-height');
    overflow: auto;
    box-sizing: border-box;

    @include when(filterable) {
      height: calc(100% - getCssVar('transfer-filter-height') - 30px);
      padding-top: 0;
    }
  }

  @include e(item) {
    height: getCssVar('transfer-item-height');
    line-height: getCssVar('transfer-item-height');
    padding-left: 15px;
    display: flex !important;
    align-items: center;
    color: getCssVar('text-color', 'regular');

    &:hover {
      color: getCssVar('color-primary');
      background-color: getCssVar('fill-color', 'light');
    }

    &.#{$namespace}-checkbox {
      margin-right: 0;
      width: 100%;
    }

    .#{$namespace}-checkbox__label {
      width: 100%;
      @include utils-ellipsis;
      box-sizing: border-box;
      padding-left: 8px;
    }
  }

  @include e(filter) {
    text-align: center;
    padding: 15px;
    box-sizing: border-box;

    .#{$namespace}-input__inner {
      height: getCssVar('transfer-filter-height');
      width: 100%;
      font-size: 12px;
      display: inline-block;
      box-sizing: border-box;
      border-radius: 16px; // Element 风格圆角搜索框
      padding-left: 30px;
      padding-right: 10px;
      border: 1px solid getCssVar('border-color');
      outline: none;

      &:focus {
        border-color: getCssVar('color-primary');
      }
    }
  }

  @include e(empty) {
    margin: 0;
    height: getCssVar('transfer-item-height');
    line-height: getCssVar('transfer-item-height');
    padding: 6px 15px 0;
    color: getCssVar('text-color', 'secondary');
    text-align: center;
  }

  @include e(footer) {
    height: getCssVar('transfer-panel-footer-height');
    background: getCssVar('bg-color', 'overlay');
    margin: 0;
    padding: 0;
    border-top: 1px solid getCssVar('transfer-border-color');
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @include utils-vertical-center;

    .#{$namespace}-checkbox {
      padding-left: 20px;
      color: getCssVar('text-color', 'regular');
    }
  }
}
