@use '../mixins/config' as *; // 导入配置，包含命名空间等
@use '../mixins/mixins' as *; // 导入 BEM 命名约定的 mixin

// 线性淡入淡出过渡效果
.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: getCssVar('transition-fade', 'linear');
}

// 线性淡入淡出过渡效果的起始状态
.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

// 线性淡入淡出过渡效果的结束状态
.#{$namespace}-fade-in-linear-enter-active,
.#{$namespace}-fade-in-linear-leave-active {
  transition: getCssVar('transition-fade', 'linear');
}
.#{$namespace}-fade-in-linear-enter-from,
.#{$namespace}-fade-in-linear-leave-to {
  opacity: 0;
}

// 线性淡入过渡效果
.#{$namespace}-fade-in-enter-active,
.#{$namespace}-fade-in-leave-active {
  transition: all getCssVar('transition-duration') cubic-bezier(0.55, 0, 0.1, 1);
}
.#{$namespace}-fade-in-enter-from,
.#{$namespace}-fade-in-leave-active {
  opacity: 0;
}

// 缩放过渡效果 - 居中
.#{$namespace}-zoom-in-center-enter-active,
.#{$namespace}-zoom-in-center-leave-active {
  transition: all getCssVar('transition-duration') cubic-bezier(0.55, 0, 0.1, 1);
}
.#{$namespace}-zoom-in-center-enter-from,
.#{$namespace}-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

// 缩放过渡效果 - 顶部
.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: getCssVar('transition-md-fade');
  transform-origin: center top;

  &[data-popper-placement^='top'] {
    transform-origin: center bottom;
  }
}
.#{$namespace}-zoom-in-top-enter-from,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

// 缩放过渡效果 - 底部
.#{$namespace}-zoom-in-bottom-enter-active,
.#{$namespace}-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: getCssVar('transition-md-fade');
  transform-origin: center bottom;
}
.#{$namespace}-zoom-in-bottom-enter-from,
.#{$namespace}-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

// 缩放过渡效果 - 左侧
.#{$namespace}-zoom-in-left-enter-active,
.#{$namespace}-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: getCssVar('transition-md-fade');
  transform-origin: top left;
}
.#{$namespace}-zoom-in-left-enter-from,
.#{$namespace}-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

// 折叠过渡效果
.collapse-transition {
  transition:
    getCssVar('transition-duration') height ease-in-out,
    getCssVar('transition-duration') padding-top ease-in-out,
    getCssVar('transition-duration') padding-bottom ease-in-out;
}

// 折叠过渡效果
.#{$namespace}-collapse-transition-leave-active,
.#{$namespace}-collapse-transition-enter-active {
  transition:
    getCssVar('transition-duration') max-height ease-in-out,
    getCssVar('transition-duration') padding-top ease-in-out,
    getCssVar('transition-duration') padding-bottom ease-in-out;
}

// 横向折叠过渡效果
.horizontal-collapse-transition {
  transition:
    getCssVar('transition-duration') width ease-in-out,
    getCssVar('transition-duration') padding-left ease-in-out,
    getCssVar('transition-duration') padding-right ease-in-out;
}

// 列表过渡效果
.#{$namespace}-list-enter-active,
.#{$namespace}-list-leave-active {
  transition: all 1s;
}

// 列表过渡效果的起始状态
.#{$namespace}-list-enter-from,
.#{$namespace}-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

// 列表过渡效果的结束状态
.#{$namespace}-list-leave-active {
  position: absolute !important;
}

// 透明度过渡效果
.#{$namespace}-opacity-transition {
  transition: opacity getCssVar('transition-duration') cubic-bezier(0.55, 0, 0.1, 1);
}
