:root {
  /* #646cff */
  --vp-c-brand-1: hsl(237, 100%, 70%);
  --vp-c-brand-2: hsl(237, 100%, 73%);
  --vp-c-brand-3: hsl(237, 100%, 70%);
  --vp-c-brand-soft: hsl(237, 100%, 70%, 14%);

  --vp-code-block-bg: #f9fafb;
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt, #161618);
}

.demo-block .xl-button {
  margin: 0 10px 10px 0;
}

/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
  margin: 0 auto;
}

.vp-doc tr:nth-child(2n) {
  /* background-color: transparent !important; */
}

.vp-doc th {
  color: unset !important;
}

/* 二级菜单缩进和加粗 */
.VPSidebarItem .VPSidebarItem {
  margin-left: 1rem;
}

.VPSidebarItem .VPSidebarItem .VPLink span {
  font-weight: bold;
}

.markdown-table-wrapper {
  overflow-x: auto;
  margin: 1rem 0;
}

.markdown-table-wrapper table {
  min-width: 800px;
  white-space: nowrap;
}
